

body {

background-image:url(./photo/photosky.jpg)

} 


.exp 
{background-color:red;
width:300px;
height:360px;
position:relative;
float:right;
margin-bottom:10px;
text-align:center;
}



#special
{
display:grid;
grid-template-columns:repeat(2, 2fr);
}




.etd
{
background-color:orange;
width:300px;
height:300px;
text-align:center;

}


.int
{background-color:#33ff33;

width:300px;
height:300px;
text-align:center;

}

.lg
{background-color:pink;
width:300px;
height:300px;
text-align:center;
}

   
.nour

{text-align:center;	
background-color: yellow;
}
   

.prenom
{background-color:white;
text-align:center;
} 
   
   
.cor
{
margin-bottom:10px;
text-align:center;
width:100%;
height:160px;
background-color:blue;
}

{
.col-lg-3 {
-ms-flex: 0 0 25%;
 flex: 0 0 25%;
 max-width: 25%;
  }
	