

body {

background:url(./photo/bleu.jpg)no-repeat;
 background-size:1920px 1080px;
 
} 


.exp 
{background-color:red;
width:300px;
height:360px;
position:relative;
float:right;
margin-bottom:10px;
text-align:center;
}



#special
{
display:grid;
grid-template-columns:repeat(2, 2fr);
}




.etd
{
background-color:blue;
margin-left:500px;
width:300px;
height:300px;
text-align:center;

}


.int
{background-color:red;
margin-left:500px;
width:300px;
height:320px;
text-align:center;

}

.lg
{background-color:blue;
width:300px;
height:300px;
text-align:center;
}

   
.nour

{
 text-align:center;
 @keyframes slidein
background-color: yellow;
}
   

.prenom
{background-color:red;
text-align:center;
} 
   
   
.cor
{
margin-bottom:10px;
text-align:center;
width:100%;
height:160px;
background-color:blue;
}
